.button{
    /* will use for all buttons in project*/
    display: block;
    padding: 8px 20px;
    border-radius: 12px;
    color:#FFFF;
    background: #FF6138;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition:all 0.3s ;
}
.navbar{
 position: fixed;
 top: 0;
 max-width: 800px;
 width: 100%;
 z-index: 100;
    padding: 10px;
}
.button:hover{
 box-shadow: 0 0 0 2px white, 0 0 0 4px #FF6138;
 background:#FFFF;
 color: #FF6138;
 transition:all 0.3s ;
 -webkit-transition:all 0.3s ;
 -moz-transition:all 0.3s ;
 -ms-transition:all 0.3s ;
 -o-transition:all 0.3s ;
}


.navbar-link{
     box-sizing: border-box;
    max-width: 300px;
    height: 40px;
    width: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    padding: 4px 8px;
    position: relative;
}
.navbar-link:hover{
      color: #FF6138;
     
   
}
.navbar-link::before{
  
    position: absolute;
    content: '';
    background-color: #FF6138;
    top:100%;
    left:0;
    width:0%;
    height: 3px;
}
.navbar-link:hover::before{
 
    width:100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.burger-button{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}
.burger-button span:not(:last-child){
        margin-bottom: 5px;
}

@media screen and (min-width: 768px){
    .burger-button{
        display: none;
    }
}

@media screen and (max-width: 768px) {
 
.header{
       
        z-index: 1000;
}
.navbar{
    position: fixed;
}
.navbar-container {
    width: 100%;
    z-index: 200;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}
  .navbar-list {
  position: fixed;
  top:83px;
  left:150%;
  flex-direction: column;
  background-color: #FFFF;
  width: 90%;
  height: 100vh;
  padding-top: 90px;
  z-index: 1;
  transition: left 0.3s ease;
  border-radius: 20px;
  border:#FF6138  solid 1px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.navbar-list.open {
    left: 5%;
    /*відкрито*/transition: left 0.3s ease;
    z-index: 1;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
}
.first,.second,.third{
    display: block;
    border-radius: 3px;
    height: 3px;
    width: 20px;
    background: #FF6138 ;
    transition: all 0.3s ease-in ;
    -webkit-transition: all 0.3s ease-in ;
    -moz-transition: all 0.3s ease-in ;
    -ms-transition: all 0.3s ease-in ;
    -o-transition: all 0.3s ease-in ;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.first.open{
      position: absolute;
      top: 2px;
      left: 13px;
      width:4px;
      height: 4px;
      z-index: 1000;
      border-radius: 50%;
      transition: all 0.3s ease-in ;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}
.second.open{
  position: absolute;
  top: 17px;
  left: 5.5px;
  width:18px;
  height: 3px;
  z-index: 1000;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  border-radius: 0px 0px 2px 2px;
  trasition: all 0.3s ease-in ;
  -webkit-border-radius: 0px 0px 2px 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  -ms-border-radius: 0px 0px 2px 2px;
  -o-border-radius: 0px 0px 2px 2px;
}
.third.open{
    position: absolute;
    top: 17px;
    left:7px;
    width:18px;
    z-index: 1000;
    transform: rotate(-90deg);
    border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    -ms-border-radius: 0px 0px 2px 2px;
    -o-border-radius: 0px 0px 2px 2px;
    transition: all 0.3s ease-in ;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

}
