.swiper-wrapper {
  transition-timing-function: linear !important;
}
.swiper-pict{

    display: flex;
    align-items: center;
     height: 30px;
    width:60px;
  
    gap:10px;
}

.swiper-pict img{
   width: 100%;
  height: auto;
  object-fit: contain;
  
}
